In [106]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [107]:
df = pd.read_csv("/Users/sa2/Desktop/TKH/Financial-Fraud-Detection/data/raw/PS_20174392719_1491204439457_log.csv")

In [108]:
df.duplicated().sum()

0

In [109]:
df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [110]:
df.isna().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

no nulls, duplicates, or missing values

In [111]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [112]:
#Drop unwanted columns (eda didnt show importance, and we are now the 'isFlaggedFraud')
df = df.drop(columns=['nameOrig','nameDest', 'isFlaggedFraud'])
df

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
0,1,PAYMENT,9839.64,170136.00,160296.36,0.00,0.00,0
1,1,PAYMENT,1864.28,21249.00,19384.72,0.00,0.00,0
2,1,TRANSFER,181.00,181.00,0.00,0.00,0.00,1
3,1,CASH_OUT,181.00,181.00,0.00,21182.00,0.00,1
4,1,PAYMENT,11668.14,41554.00,29885.86,0.00,0.00,0
...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,339682.13,0.00,0.00,339682.13,1
6362616,743,TRANSFER,6311409.28,6311409.28,0.00,0.00,0.00,1
6362617,743,CASH_OUT,6311409.28,6311409.28,0.00,68488.84,6379898.11,1
6362618,743,TRANSFER,850002.52,850002.52,0.00,0.00,0.00,1
6362619,743,CASH_OUT,850002.52,850002.52,0.00,6510099.11,7360101.63,1

In [113]:

# one-hot encoding for type of transaction
dftype = pd.get_dummies(df, columns=['type'], drop_first=True)
dftype.head()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.0,160296.36,0.0,0.0,0,False,False,True,False
1,1,1864.28,21249.0,19384.72,0.0,0.0,0,False,False,True,False
2,1,181.00,181.0,0.00,0.0,0.0,1,False,False,False,True
3,1,181.00,181.0,0.00,21182.0,0.0,1,True,False,False,False
4,1,11668.14,41554.0,29885.86,0.0,0.0,0,False,False,True,False

In [114]:
dftype.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   amount          float64
 2   oldbalanceOrg   float64
 3   newbalanceOrig  float64
 4   oldbalanceDest  float64
 5   newbalanceDest  float64
 6   isFraud         int64
 7   type_CASH_OUT   bool
 8   type_DEBIT      bool
 9   type_PAYMENT    bool
 10  type_TRANSFER   bool
dtypes: bool(4), float64(5), int64(2)
memory usage: 364.1 MB

In [115]:
#Convert boolean values to intergers
bool_cols = dftype.select_dtypes(include=['bool']).columns
dftype[bool_cols] = dftype[bool_cols].astype(int)
dftype.info()
dftype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   amount          float64
 2   oldbalanceOrg   float64
 3   newbalanceOrig  float64
 4   oldbalanceDest  float64
 5   newbalanceDest  float64
 6   isFraud         int64
 7   type_CASH_OUT   int64
 8   type_DEBIT      int64
 9   type_PAYMENT    int64
 10  type_TRANSFER   int64
dtypes: float64(5), int64(6)
memory usage: 534.0 MB

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,9839.64,170136.00,160296.36,0.00,0.00,0,0,0,1,0
1,1,1864.28,21249.00,19384.72,0.00,0.00,0,0,0,1,0
2,1,181.00,181.00,0.00,0.00,0.00,1,0,0,0,1
3,1,181.00,181.00,0.00,21182.00,0.00,1,1,0,0,0
4,1,11668.14,41554.00,29885.86,0.00,0.00,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,339682.13,339682.13,0.00,0.00,339682.13,1,1,0,0,0
6362616,743,6311409.28,6311409.28,0.00,0.00,0.00,1,0,0,0,1
6362617,743,6311409.28,6311409.28,0.00,68488.84,6379898.11,1,1,0,0,0
6362618,743,850002.52,850002.52,0.00,0.00,0.00,1,0,0,0,1
6362619,743,850002.52,850002.52,0.00,6510099.11,7360101.63,1,1,0,0,0

In [116]:
#normalize numerical data using StandardScaler
num_cols = ['amount', 'oldbalanceOrg', 'newbalanceOrig', 'oldbalanceDest', 'newbalanceDest']
scaler = StandardScaler()
dftype[num_cols] = scaler.fit_transform(dftype[num_cols])

dftype[num_cols]

,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
0,-0.281560,-0.229810,-0.237622,-0.323814,-0.333411
1,-0.294767,-0.281359,-0.285812,-0.323814,-0.333411
2,-0.297555,-0.288654,-0.292442,-0.323814,-0.333411
3,-0.297555,-0.288654,-0.292442,-0.317582,-0.333411
4,-0.278532,-0.274329,-0.282221,-0.323814,-0.333411
...,...,...,...,...,...
6362615,0.264665,-0.171108,-0.292442,-0.323814,-0.240959
6362616,10.153953,1.896491,-0.292442,-0.323814,-0.333411
6362617,10.153953,1.896491,-0.292442,-0.303665,1.403027
6362618,1.109765,0.005581,-0.292442,-0.323814,-0.333411
6362619,1.109765,0.005581,-0.292442,1.591383,1.669812

In [117]:
dftype

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,1,-0.281560,-0.229810,-0.237622,-0.323814,-0.333411,0,0,0,1,0
1,1,-0.294767,-0.281359,-0.285812,-0.323814,-0.333411,0,0,0,1,0
2,1,-0.297555,-0.288654,-0.292442,-0.323814,-0.333411,1,0,0,0,1
3,1,-0.297555,-0.288654,-0.292442,-0.317582,-0.333411,1,1,0,0,0
4,1,-0.278532,-0.274329,-0.282221,-0.323814,-0.333411,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,0.264665,-0.171108,-0.292442,-0.323814,-0.240959,1,1,0,0,0
6362616,743,10.153953,1.896491,-0.292442,-0.323814,-0.333411,1,0,0,0,1
6362617,743,10.153953,1.896491,-0.292442,-0.303665,1.403027,1,1,0,0,0
6362618,743,1.109765,0.005581,-0.292442,-0.323814,-0.333411,1,0,0,0,1
6362619,743,1.109765,0.005581,-0.292442,1.591383,1.669812,1,1,0,0,0

In [123]:
dftype.to_csv("../../data/processed/cleanedfrauddata.csv", index=False)